{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="form-container">
        <h1 class="text-center display-6 page-title">Welcome to Artit</h1>
        <hr class="my-4">

        <form method="POST" id="registerForm" novalidate>
            <!-- First Name -->
            <div class="row mb-3">
                <label for="firstname" class="col-sm-3 col-form-label">First Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="firstname" name="firstname" required>
                </div>
            </div>

            <!-- Last Name -->
            <div class="row mb-3">
                <label for="lastname" class="col-sm-3 col-form-label">Last Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="lastname" name="lastname">
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label for="username" class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label for="password" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
            </div>

            <!-- Confirm Password -->
            <div class="row mb-3">
                <label for="confirm_password" class="col-sm-3 col-form-label">Confirm Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                    <div class="invalid-feedback">
                        Passwords do not match.
                    </div>
                    <div class="valid-feedback">
                        Passwords match!
                    </div>
                </div>
            </div>

            <!-- Register Button -->
            <div class="text-center">
                <button type="submit" class="btn-custom mt-4">Register</button>
            </div>
        </form>

        <!-- Already have an account -->
        <p class="text-center mt-2">Already have an account? <a href="{{ url_for('auth.login') }}" class="custom-link">Log In</a></p>
    </div>
</div>
{% endblock %}
