{% extends 'base.html' %}

{% block title %}View Post{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between  mb-3">
        {% if request.args.get('from') == 'profile' %}
            <a href="{{ url_for('profile.view_profile', user_id=post['user_id']) }}" class="text-dark">Close</a>
        {% else %}
            <a href="{{ url_for('post.index') }}" class="text-dark">Close</a>
        {% endif %}

        {% if g.user and g.user['id'] == post['user_id'] %}
            <a href="{{ url_for('post.update', id=post['id']) }}" class=" edit-profile-link text-purple">Edit</a>
        {% endif %}
    </div>

    <div class="row mb-4">
        <div class="col-md-7 mb-4 artwork-view">
            <img src="{{ url_for('static', filename='uploads/artworks/' + post['artwork']) }}" class="img-fluid" alt="Artwork" style="max-width: 100%;">
        </div>

        <div class="col-md-5 d-flex flex-column">
                <div class="d-flex">
                    <img src="{% if post['user_avatar'] %}{{ url_for('static', filename='uploads/avatars/' + post['user_avatar']) }}{% else %}{{ url_for('static', filename='uploads/avatars/default_avatar.jpg') }}{% endif %}"
                         class="rounded-circle" width="55" height="55" alt="User Avatar">
                    <div class="ml-3">
                        <a href="{{ url_for('profile.view_profile', user_id=post['user_id']) }}">
                            <h6 class="card-title link-profile-view">{{ post['firstname'] }} {{ post['lastname'] }}</h6>
                        </a>
                        <small class="text-muted">{{ post['created'].strftime('%Y-%m-%d') }}</small>
                    </div>
                </div>

            <hr class="profile-divider mt-4 mb-0">

            <div id="post-comments" class="comment-section">
                {% if post['description'] %}
                <div class="d-flex mb-3 comment">
                    <img src="{% if post['user_avatar'] %}{{ url_for('static', filename='uploads/avatars/' + post['user_avatar']) }}{% else %}{{ url_for('static', filename='uploads/avatars/default_avatar.jpg') }}{% endif %}"
                         class="rounded-circle" width="40" height="40" alt="User Avatar">
                    <div class="px-3 comment-text">
                        <a href="{{ url_for('profile.view_profile', user_id=post['user_id']) }}">
                            <strong class="card-title link-profile-view">{{ post['firstname'] }} {{ post['lastname'] }}</strong>
                        </a>
                        {{ post['description'] }}
                    </div>
                </div>
                {% endif %}
                {% for comment in comments %}
                <div class="d-flex mb-4 comment">
                    <img src="{% if comment['avatar'] %}{{ url_for('static', filename='uploads/avatars/' + comment['avatar']) }}{% else %}{{ url_for('static', filename='uploads/avatars/default_avatar.jpg') }}{% endif %}"
                         class="rounded-circle" width="40" height="40" alt="User Avatar">
                    <div class="px-3  comment-text">
                        <a href="{{ url_for('profile.view_profile', user_id=post['user_id']) }}">
                            <strong class="card-title link-profile-view">{{ comment['firstname'] }} {{ comment['lastname'] }}</strong>
                        </a>
                        {{ comment['body'] }}

                        {% if g.user and g.user['id'] == comment['user_id'] %}
                        <div>
                            <a href="#" class="text-purple" data-toggle="modal" data-target="#deleteCommentModal-{{ comment['id'] }}">Delete</a>
                        </div>

                        <!-- Delete Modal -->
                        <div class="modal fade" id="deleteCommentModal-{{ comment['id'] }}" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="deleteCommentModalLabel">Confirm Delete</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                Are you sure you want to delete this comment? This action cannot be undone.
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <form action="{{ url_for('post.delete_comment', post_id=post['id'], comment_id=comment['id']) }}" method="POST">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>

            <hr class="profile-divider mt-0">

            <div class="d-flex align-items-center mb-3">
                <form method="post" action="{{ url_for('post.like', id=post['id']) }}" class="mr-3">
                    <button type="submit" class="btn btn-link p-0 d-flex align-items-center">
                        <i class="material-symbols-outlined link-profile-view {% if post['user_liked'] %} filled-purple {% endif %}">favorite</i>
                        <span class="ml-2 likes">{{ likes_count}} likes</span>
                    </button>
                </form>
                <i class="material-symbols-outlined ml-4">mode_comment</i><span class="ml-2 comments">{{ comments|length }} comments</span>
            </div>

            <form action="{{ url_for('post.comment', id=post['id']) }}" method="POST" class="d-flex align-items-center">
                <input type="text" name="comment" class="form-control" placeholder="Add a comment..." required maxlength="70">
                <button type="submit" class="btn-custom ml-2">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
