{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container mt-5 mb-3">
    <div class="d-flex justify-content-center align-items-center flex-column flex-md-row">
        <div class="profile-avatar text-center text-md-left mb-3 mb-md-0">
            <img src="{% if user['avatar'] %}{{ url_for('static', filename='uploads/avatars/' + user['avatar']) }}{% else %}{{ url_for('static', filename='uploads/avatars/default_avatar.jpg') }}{% endif %}"
                 class="rounded-circle" width="150" height="150" alt="User Avatar">
        </div>

        <div class="profile-info ml-md-4 text-center text-md-left">
            <h5>{{ user['firstname'] }} {{ user['lastname'] }}</h5>
            {% if user['bio'] != 'None' and  user['bio']%}
                <p class="text-muted">{{ user['bio'] }}</p>
            {% endif %}
            <a href="{{ url_for('profile.update') }}" class="edit-profile-link text-purple">Settings</a>
        </div>
    </div>

    <hr class="profile-divider">

    <div class="artwork-gallery">
        {% for artwork in artworks %}
        <div class="artwork-item">
            <a href="{{ url_for('post.view_post', id=artwork['id'], from='profile') }}">
                <img src="{{ url_for('static', filename='uploads/artworks/' + artwork['artwork']) }}" alt="Artwork">
            </a>
        </div>
        {% else %}
        <p>No artwork uploaded yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}



